@mixin gl-typescale-ui($selector: 'body') {
  #{$selector} {
    @include gl-font-base;
    @include gl-text-gray-900;
    @include gl-font-regular;
    @include gl-font-weight-normal;
    @include gl-line-height-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h-display,
  .gl-h1,
  .gl-h2,
  .gl-h3,
  .gl-h4,
  .gl-h5,
  .gl-h6 {
    @include gl-font-weight-bold;
    @include gl-mt-0;
    @include gl-mb-0;
  }

  .h-display {
    @include gl-fluid-font-size($min: $gl-font-size-h-display, $max: $gl-font-size-h-display-xl);
    @include gl-fluid-line-height($min: $gl-line-height-32, $max: $gl-line-height-52);
  }

  h1,
  .gl-h1 {
    @include gl-fluid-font-size($min: $gl-font-size-h1, $max: $gl-font-size-h1-xl);
    @include gl-fluid-line-height($min: $gl-line-height-28, $max: $gl-line-height-36);
  }

  h2,
  .gl-h2 {
    @include gl-fluid-font-size($min: $gl-font-size-h2, $max: $gl-font-size-h2-xl);
    @include gl-fluid-line-height($min: $gl-line-height-24, $max: $gl-line-height-28);
  }

  h3,
  .gl-h3 {
    @include gl-font-lg;
    @include gl-line-height-20;
  }

  h4,
  .gl-h4 {
    @include gl-font-base;
    @include gl-line-height-20;
  }

  h5,
  .gl-h5,
  h6,
  .gl-h6 {
    @include gl-font-base;
    @include gl-line-height-20;
    @include gl-text-gray-700;
  }

  p,
  .gl-paragraph {
    @include gl-font-base;
    @include gl-line-height-20;
    @include gl-mt-0;
    @include gl-mb-0;

    + p,
    + .gl-paragraph {
      @include gl-mt-5;
    }

    &.lg {
      @include gl-line-height-24;
    }
  }

  .sm {
    @include gl-font-sm;
  }

  .lg {
    @include gl-font-lg;
  }

  .monospace {
    @include gl-font-monospace;
    @include gl-font-size-monospace;
    @include gl-line-height-20;

    &.sm {
      @include gl-font-size-monospace-sm;
    }

    &.lg {
      @include gl-font-size-monospace-lg;
      @include gl-line-height-24;
    }
  }

  blockquote {
    @include gl-text-gray-700;
    @include gl-py-3;
    @include gl-pl-6;
    @include gl-my-3;
    @include gl-mx-0;
    @include gl-inset-border-l-4-gray-100;
  }
}
